body{
    background-color: rgba(12, 239, 255, 0.731);
}

#pause{
    position: absolute;
    top: 50px;
    left: 50px;
}

#buttons{
    margin: auto;
    width: 50%;
}

#title{
    position: absolute;
    left: 555px;
    top: 300px;
}

#btn_back{
    left: 100px;
    top: 800px;
}

#btn_start{
    left: 750px;
    top: 500px;
    cursor: wait;
}

/* 蓝色按钮共有属性 */
#btn_start,
#btn_back{
    position: absolute;
    background-color: blue;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

/* 蓝色按钮共有经过属性 */
#btn_start:hover,
#btn_back:hover{
    border: 3px solid rgb(82, 82, 255);
}

/* 白色按钮共有经过属性 */
#btn_mode:hover,
#btn_repository:hover,
#btn_introduction:hover,
#btn_setting:hover{
    border: 3px solid rgb(186, 185, 185);
} 

#page_back:hover,
#page_next:hover{
    border: 1px solid rgb(186, 185, 185);
} 

/* 白色按钮共有属性 */
#btn_repository,
#btn_introduction,
#btn_setting,
#btn_mode{
    position: absolute;
    left: 750px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

#btn_repository{
    top: 600px;
}

#btn_introduction{
    top: 650px;
}

#btn_setting{
    top: 700px;
}

#btn_mode{
    top: 550px;
}

#lg{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

#introduction,
#setting,
#mode{
    display: block;
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 50px;
    color: white;
}

.para{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 120px;
    left: 100px;
    z-index: 5;
}

#page{
    position: absolute;
    height: 30px;
    width: 700px;
    color: white;
    top: 700px;
    left: 400px;
    font-size: 10px;
    z-index: 5;
}

#page_back,
#page_next{
    position: absolute;
    background-color: white;
    border: none;
    color: blue;
    width: 50px;
    height: 20px;
}


#page_back{
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

#page_next{
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

#pause_title{
    position: relative;
    color: white;
    font-weight: 600;
    top: 500px;
    left: 600px;
}

#back,
#restart,
#come_on{
    font-size: 50px;
    position: absolute;
    color: white;
}

#back{
    top: 450px;
    left: 100px;
}

#restart{
    top: 450px;
    left: 150px;
}

#come_on{
    top: 450px;
    left: 200px;
}

#basket{
    position: absolute;
    bottom: 0;
    top: 100%;
    left: auto;
}

#score{
    position: absolute;
    left: 100px;
    right: 0;
    top: 0;
    bottom: 100%;
    font-size: 100px;
    color: white;
}

#menu{
    position: absolute;
    background-color: rgba(36, 36, 36, 0.63);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
