body{
    background-color: rgba(12, 239, 255, 0.731);
}

/* #start-menu{
    position: relative;
    background-color: rgba(36, 36, 36, 0.63);
    padding: 600px;
} */

#title{
    position: relative;
    left: 555px;
    top: 300px;
}

#buttons{
    display: inline-block;
    padding: 20px;
    margin: 40px;
}

#btn-start{
    position: relative;
    left: 700px;
    top: 500px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    cursor: wait;
    font-size: 16px;
}

#btn-start:hover{
    border: 3px solid rgb(82, 82, 255);
}

#btn-mode{
    position: relative;
    left: 575px;
    top: 550px;
    background-color: grey;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#btn-mode:hover{
    border: 3px solid rgb(186, 185, 185);
}

#btn-repository{
    position: relative;
    left: 450px;
    top: 600px;
    background-color: gray;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#btn-repository:hover{
    border: 3px solid rgb(186, 185, 185);
}

#lg{
    position: relative;
    left: 0px;
    top: 460px;
    margin: 0px;
}