body{
    background-color: rgba(12, 239, 255, 0.731);
}

#start_menu{
    position: absolute;
    background-color: rgba(36, 36, 36, 0.63);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#buttons{
    position: absolute;
}

#title{
    position: absolute;
    left: 555px;
    top: 300px;
}

#btn_start{
    position: absolute;
    left: 750px;
    top: 500px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 120px;
    border: none;
    cursor: wait;
    font-size: 16px;
}

#btn_start:hover{
    border: 3px solid rgb(82, 82, 255);
}

#btn_mode{
    position: absolute;
    left: 750px;
    top: 550px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

#btn_mode:hover{
    border: 3px solid rgb(186, 185, 185);
}

#btn_repository{
    position: absolute;
    left: 750px;
    top: 600px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

#btn_repository:hover{
    border: 3px solid rgb(186, 185, 185);
}

#btn_introduction{
    position: absolute;
    left: 750px;
    top: 650px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

#btn_introduction:hover{
    border: 3px solid rgb(186, 185, 185);
}

#btn_setting{
    position: absolute;
    left: 750px;
    top: 700px;
    background-color: white;
    color: blue;
    height: 40px;
    width: 120px;
    border: none;
    font-size: 16px;
}

#btn_setting:hover{
    border: 3px solid rgb(186, 185, 185);
}

#lg{
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
}

/* #basket{
    position: absolute;
    bottom: 0px;
} */